<main>
  <div class="sticky-parallax-header"></div>
  <header class="masthead sticky-parallax-masthead">
    <div
      class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center"
    >
      <div class="d-flex justify-content-center">
        <div class="text-center">
          <h1 class="mx-auto my-0 text-uppercase">Factivar</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">
            {{textos.eslogan}}
            </h2>
            
            <!-- <button class="btnIdioma" (click)="cambiarIdioma('castellano')">
              <img src="assets\images\svg\banderaEspañola.svg" alt="Bandera Española">
            </button>
            <button class="btnIdioma" (click)="cambiarIdioma('ingles')">
              <img src="assets\images\svg\banderaInglesa.svg" alt="Bandera Inglesa">
            </button> -->

            <!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">
            Tu página web para una facturación más sencilla e intuitiva
          </h2> -->

          <a
            [routerLink]="['/clientes']"
            class="mt-2 d-flex justify-content-center"
          >
            Entrar
          </a>
        </div>
      </div>
    </div>
  </header>
  <!-- <div class="ricias"></div> -->
  <article id="content" class="cuerpoHomePage my-5">
    <!-- <div id="content" class="cuerpoHomePage"> -->
    <div class="projects-section" id="projects">
      <div class="container px-4 px-lg-5">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
          <div class="col-xl-8 col-lg-7">
            <video
              class="videoLogo"
              src="assets/videos/Mi_videoFinal.mp4"
              alt="video con logo"
              autoplay="true"
              muted="true"
              loop="true"
            ></video>
          </div>

          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>{{textos.sections[0].titulo}}</h4>
              <p class="mb-0">
                {{textos.sections[0].contenido}}
              </p>
            </div>
          </div>
        </div>

        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
          <div class="col-lg-6">
            <img
              class="img-fluid"
              src="assets/images/contableFemenina.jpeg"
              alt="Mujer trabajando"
            />
          </div>

          <div class="col-lg-6">
            <div class="colorHexagonos text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-left"
                >
                  <h4 class="text-white">{{textos.sections[1].titulo}}</h4>
                  <p class="mb-0 text-white-50">
                    {{textos.sections[1].contenido}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row gx-0 justify-content-center">
          <div class="col-lg-6">
            <img
              class="img-fluid"
              src="assets/images/contableEn Oficina.jpeg"
              alt="Hombre trabajando"
            />
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="colorHexagonos text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-right"
                >
                  <h4 class="text-white">{{textos.sections[2].titulo}}</h4>
                  <p class="mb-0 text-white-50">
                    {{textos.sections[2].contenido}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </article>
  <!-- <div class="ricias"></div> -->
</main>
<app-footer />
