<div class="containerRo">

    <div class="item">
        <div class="layer">
            <h3>Facturas</h3>
            <p>blablablablablabla</p>
            <span><i class="fa-solid
fa-lightbulb"></i></span>
        </div>
        <h4>Paso 1</h4>
    </div>

    <div class="item">
        <div class="layer">
            <h3>Facturas 2</h3>
            <p>blablablablablabla</p>
            <span><i class="fa-solid
        fa-gears"></i></span>
        </div>
        <h4>Paso 2</h4>
    </div>

    <div class="item">
        <div class="layer">
            <h3>Facturas 3</h3>
            <p>blablablablablabla</p>
            <span><i class="fa-solid
                fa-arrow-up-right-dots"></i></span>
        </div>
        <h4>Paso 2</h4>
    </div>

</div>