/* LOGIN Y REGISTRO RECUADRO */
// .background {
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100dvh; /* Altura del viewport */
//   width: 100dvw; /* Ancho del viewport */
//   z-index: -1; /* Para que el fondo quede detrás del contenido */
//   background-image: url("../../../assets/images/FondoFinal.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   filter: invert(0) grayscale(0);

//   /* Estilos para el tema oscuro */
//   [data-bs-theme=dark] & {
//     filter: invert(1) grayscale(1);
//   }
// }

// .container-xio {
//   width: min(600px, 100%);
//   // width: 100%;
//   // max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
//   text-align: center;
//   background: linear-gradient(
//     0deg,
//     rgba(255, 255, 255, 0.75) 0%,
//     rgba(244, 247, 251, 0.75) 100%
//   );
//   border-radius: 40px;
//   padding: 25px 35px;
//   border: 5px solid rgb(255, 255, 255);
//   box-shadow: rgba(64, 202, 168, 0.878) 0px 30px 30px -20px;
//   // margin-inline: auto;
//   // margin-left: auto;
//   // margin-right: auto;
//   // margin-block: 100px;
//   // margin-top: 100px;
//   // margin-bottom: 100px;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);

//   /* Fondo de imagen (INVESTIGAR) */
//   // &::before {
//   //   content: "";
//   //   position: fixed;
//   //   top: 0;
//   //   left: 0;
//   //   height: 100dvh; /* Altura del viewport */
//   //   width: 100dvw; /* Ancho del viewport */
//   //   z-index: -1; /* Para que el fondo quede detrás del contenido */
//   //   background-image: url("../../../assets/images/FondoFinal.jpg");
//   //   background-size: cover;
//   //   background-repeat: no-repeat;
//   // }

//     /* Estilos para el tema oscuro */
//   [data-bs-theme=dark] & {
//     color: canvas;
//   }
// }

/* Aparece y desaparece el logo del registro y login */
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

/* Boton de casa */
.btnCasa {
  display: grid;
  place-items: center;
  background: #dfe9e79f;
  padding: 1.4em;
  border-radius: 100px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
  position: fixed;
  right: 20px;
  bottom: 40px;

  &:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(0.5em);
  }

  & svg {
    transition: transform 0.5s;
  }

  &:hover svg {
    transform: scale(0.9);
    fill: #333333;
  }
}

// /* Estilos para el tema claro */
// [data-bs-theme="light"] .background {
//   /* tus estilos para el tema claro aquí */
// }

/* Estilos para el tema oscuro */
// [data-bs-theme="dark"]  {
//   .background{
//     filter: invert(1) grayscale(1);
//   }
//   .container12 {
//     color: canvas;
//   }
// }

// @media (prefers-color-scheme: dark) {
//   // @media (prefers-color-scheme: light) {
//   // .container12::before {
//   //   filter: invert(1) grayscale(1) brightness(1);
//   // }
//   .background {
//     filter: invert(1) grayscale(1);
//   }
//   .container12 {
//     color: canvas;
//   }
// }
