@if (response$ | async; as res) {
<!-- <h1>{{ res.nombre }}</h1> -->
<!-- <pre>{{ res | json }}</pre> -->
<!-- @for (f of res.facturaClientes; track f.facturaId) {
<a [routerLink]="['/facturas', f.facturaId]">{{ f.facturaId }}</a
><br />
}  -->

<label for="calculos">IVAs a calcular</label>
<select [formControl]="tipoCalculo" name="" id="calculos" (ngModelChange)="cambioTipoCalculo()">
  <option value="mes">IVA Mensual</option>
  <option value="trimestre">IVA Trimestral</option>
  <option value="anual">IVA Anual</option>
</select>

@if(tipoCalculo.value === 'mes'){
  <form action="">
    <label for="">Mes</label>
    <input type="text" [formControl]="mes">
    <label for="">Año</label>
    <input type="text" [formControl]="year">>
    <button
      class="btn btn-success"
      type="button"
      (click)="calculaIvaMensual()">
          Calcular
    </button>
  </form>
}

@if(tipoCalculo.value === 'trimestre'){
<form action="">
  <label for="">Trimestre</label>
  <input type="text" [formControl]="trimestre">>
  <label for="">Año</label>
  <input type="text" [formControl]="year">>
  <button
          class="btn btn-success"
          type="button"
          (click)="calculaIvaTrimestral()"
        >
          Calcular
        </button>
</form>
}

@if(tipoCalculo.value === 'anual'){
<form action="">
  <label for="">Año</label>
  <input type="text" [formControl]="year">>
  <button
          class="btn btn-success"
          type="button"
          (click)="calculaIvaAnual()"
        >
          Calcular
        </button>
</form>
}

<!-- @if(resp.length !== 0 ){
<table class="table table-stripped" aria-labelledby="clientes">
  <thead>
    <tr>
      <th>bImponible</th>
      <th>cuota</th>
      <th>total</th>
    </tr>
  </thead>
  <tbody>
    
    @for (item of resp; track item){
      <tr>
        <td> {{ item.bImponible }}</td>
        <td> {{ item.cuota }}</td>
        <td> {{ item.total }}</td>
      </tr>
    }
    <tr>
      <td></td>
      <td>TOTAL</td>
      <td>{{totalCalculoIva}}</td>
    </tr>
  </tbody>
</table>
} -->

@if(resp[0] != null ){
  <table class="table table-stripped" aria-labelledby="clientes">
    <thead>
      <tr>
        <th>Tasa</th>
        <th>BImponible</th>
        <th>Cuota</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0%</td>
        <td> {{ resp[0].bImponible }}</td>
        <td> {{ resp[0].cuota }}</td>
        <td> {{ resp[0].total }}</td>
      </tr>
      <tr>
        <td>4%</td>
        <td> {{ resp[1].bImponible }}</td>
        <td> {{ resp[1].cuota }}</td>
        <td> {{ resp[1].total }}</td>
      </tr>
      <tr>
        <td>5%</td>
        <td> {{ resp[2].bImponible }}</td>
        <td> {{ resp[2].cuota }}</td>
        <td> {{ resp[2].total }}</td>
      </tr>
      <tr>
        <td>10%</td>
        <td> {{ resp[3].bImponible }}</td>
        <td> {{ resp[3].cuota }}</td>
        <td> {{ resp[3].total }}</td>
      </tr>
      <tr>
        <td>21%</td>
        <td> {{ resp[4].bImponible }}</td>
        <td> {{ resp[4].cuota }}</td>
        <td> {{ resp[4].total }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>TOTAL</td>
        <td>{{totalCalculoIva}}</td>
      </tr>
    </tbody>
  </table>
  }

@for (f of res.facturaProveedors; track f.facturaId) {
<!-- <a [routerLink]="['/facturas', f.facturaId]">{{ f.facturaId }}</a> -->
<br />
} } @defer (on timer(1s)) { @if (response$ | async; as res) {
<article class="card" style="width: 80dvw">
  <div class="card-body">
    <header>
      <h5 class="card-title">{{ res.nombre }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">CIF: {{ res.cif }}</h6>
    </header>
    <p class="card-text">Fecha de alta: {{ res.fechaAlta | date }}</p>
    <p class="card-text">
      Telefono:
      <a href="callto:{{ res.telefono }}" class="card-link">
        {{ res.telefono }}
      </a>
    </p>
    <p class="card-text">
      Email:
      <a href="mailto:{{ res.email }}" class="card-link">{{ res.email }}</a>
    </p>
    <p class="card-text">Dirección: {{ res.direccion }}</p>
    <form
      class="edit_invoice"
      id="busqueda-form"
      accept-charset="UTF-8"
      data-remote="true"
    >
      <div>
        <label for="busquedaNumeroFactura" class="form-label"
          ><i class="fa fa-search icon"></i>&nbsp;&nbsp;N° de factura</label
        >
        <input
          class="form-control form-control-sm"
          placeholder="Número Factura"
          maxlength="100"
          size="100"
          type="text"
          [formControl]="numeroFactuC"
          name="busquedaNumeroFactura"
          id="busquedaNumeroFactura"
          aria-label="Número de factura"
          (ngModelChange)="buscarFacturaCli($event)"
        />
      </div>
    </form>

    <hr />

    <h6 class="card-subtitle mb-4 text-body-secondary">Facturas Compradas</h6>
    @if (facturasCli2) {
    <ul class="facturas">
      @for (item of facturasCli2; track $index) {
      <li>
        <app-cards-color [factura]="item"/>
        <!-- <p>Numero factura: {{ item.numeroFactura }}</p>
        <figure style="--c: #fff5">
          <img
            src="https://www.educadictos.com/wp-content/uploads/2014/02/Factura-Proforma.png"
            alt="Invoice"
          />
          <figcaption>
            <p>Numero factura: {{ item.numeroFactura }}</p>
            <p>Descripción Operación: {{ item.descripcionOperacion }}</p>
            <p>Fecha Expedición: {{ item.fechaExpedicion | date }}</p>
            <p>Fecha Cobro: {{ item.fechaCobro | date }}</p>
            <p>Pendiente Pago: {{ item.pendientePago ? "SI" : "NO" }}</p>
            <p>Total: {{ item.total | currency }}</p>
          </figcaption>
        </figure>
        <button
          class="btn btn-success"
          type="button"
          [routerLink]="['facturas', 'detail', item.facturaId]"
        >
          Ver factura
        </button> -->

        <!-- <p>Numero factura: {{ item.numeroFactura }}</p>
            <p>Descripción Operación: {{ item.descripcionOperacion }}</p>
            <p>Fecha Expedición: {{ item.fechaExpedicion | date }}</p>
            <p>Fecha Cobro: {{ item.fechaCobro | date }}</p>
            <p>Pendiente Pago: {{ item.pendientePago ? "SI" : "NO" }}</p>
            <button
              class="btn btn-success"
              type="button"
              (click)="verFactura(item.facturaId)"
              >
            Ver factura
          </button>
        </li> -->
        <!-- <pre>{{ item | json }}</pre> -->
      </li>
      } @empty {
      <p>No hay datos.</p>
      }
    </ul>
    }

    <hr />

    <form
      class="edit_invoice"
      id="busqueda-form"
      accept-charset="UTF-8"
      data-remote="true"
    >
      <div>
        <label for="busquedaNumeroFactura" class="form-label"
          ><i class="fa fa-search icon"></i>&nbsp;&nbsp;N° de factura</label
        >
        <input
          class="form-control form-control-sm"
          placeholder="Número Factura"
          maxlength="100"
          size="100"
          type="text"
          [formControl]="numeroFactuP"
          name="busquedaNumeroFactura"
          id="busquedaNumeroFactura"
          aria-label="Número de factura"
          (ngModelChange)="buscarFacturaProv($event)"
        />
      </div>
    </form>

    <h6 class="card-subtitle mb-4 text-body-secondary">Facturas Vendidas</h6>
    @if (facturasProv2) {
    <ul class="facturas">
      @for (item of facturasProv2; track $index) {
      <li>
        <app-cards-color [factura]="item"/>
        <!-- <p>Numero factura: {{ item.numeroFactura }}</p>
        <figure style="--c: #fff5">
          <img
            src="https://www.educadictos.com/wp-content/uploads/2014/02/Factura-Proforma.png"
            alt="Invoice"
          />
          <figcaption>
            <p>Numero factura: {{ item.numeroFactura }}</p>
            <p>Descripción Operación: {{ item.descripcionOperacion }}</p>
            <p>Fecha Expedición: {{ item.fechaExpedicion | date }}</p>
            <p>Fecha Cobro: {{ item.fechaCobro | date }}</p>
            <p>Pendiente Pago: {{ item.pendientePago ? "SI" : "NO" }}</p>
          </figcaption>
        </figure>
        <p>Total: {{ item.total | currency }}</p>
        <button
          class="btn btn-success"
          type="button"
          [routerLink]="['facturas', 'detail', item.facturaId]"
        >
          Ver factura
        </button> -->
      </li>
      <!-- <pre>{{ item | json }}</pre> -->
      } @empty {
      <p>No hay datos.</p>
      }
    </ul>
    }
  </div>
</article>
} } @loading (after 100ms; minimum 1s) {
<app-loader />
} @placeholder {
<app-loader />
}