<form class="form-signin" [formGroup]="registerForm" (ngSubmit)="register()">
  <!-- (ngSubmit)="register()" -->
  <div class="form-group mb-3">
    <label for="nombre" hidden aria-label="nombre">Nombre</label>
    <input
      [formControl]="registerForm.controls.nombre"
      id="nombre"
      type="text"
      class="form-control"
      placeholder="Nombre"
      name="nombre"
      required
    />
    @if (registerForm.controls.nombre.invalid &&
    (registerForm.controls.nombre.dirty || registerForm.controls.nombre.touched))
    {
    <div class="alert alert-danger">
      @if (registerForm.controls.nombre.errors?.['required']) {
      <span>El nombre es obligatorio</span>
      } 
    </div>
    }
  </div>

  <div class="form-group mb-3">
    <label for="apellidos" hidden aria-label="apellidos">Apellidos</label>
    <input
      [formControl]="registerForm.controls.apellidos"
      type="text"
      class="form-control"
      placeholder="Apellidos"
      id="apellidos"
      name="apellidos"
      required
    />
    @if (registerForm.controls.apellidos.invalid &&
    (registerForm.controls.apellidos.dirty || registerForm.controls.apellidos.touched))
    {
    <div class="alert alert-danger">
      @if (registerForm.controls.apellidos.errors?.['required']) {
      <span>El apellido es obligatorio</span>
      }
    </div>
    }
  </div>

  <div class="form-group mb-3">
    <label for="avatar" hidden aria-label="Avatar">Avatar</label>
    <input
      [formControl]="registerForm.controls.avatar"
      type="file"
      class="form-control"
      placeholder="Avatar"
      name="avatar"
      (change)="onFileSelected($event)"
    />
  </div>

  <div class="form-group mb-3">
    <label for="email" hidden aria-label="email">E-mail</label>
    <input
      autocomplete="email"
      [formControl]="registerForm.controls.email"
      type="email"
      class="form-control"
      placeholder="E-mail"
      id="email"
      name="email"
      required
    />
    @if (registerForm.controls.email.invalid &&
    (registerForm.controls.email.dirty || registerForm.controls.email.touched))
    {
    <div class="alert alert-danger">
      @if (registerForm.controls.email.errors?.['required']) {
      <span>El email es obligatoria</span>
      } @if (registerForm.controls.email.errors?.['email']) {
      <span>Introduce un email válido</span>
      }
    </div>
    }
  </div>

  <div class="form-group mb-3">
    <label for="telefono" hidden aria-label="teléfono">Teléfono</label>
    <input
      [formControl]="registerForm.controls.telefono"
      type="text"
      class="form-control"
      placeholder="Teléfono"
      id="telefono"
      name="telefono"
    />
  </div>

  <div class="form-group mb-3">
    <label for="repeatPassword" hidden aria-label="contraseña"
      >Contraseña</label
    >
    <input
      autocomplete="new-password"
      [formControl]="registerForm.controls.password"
      type="password"
      class="form-control"
      placeholder="Contraseña"
      name="password"
      id="password"
      required
    />
    @if (registerForm.controls.password.invalid &&
    (registerForm.controls.password.dirty ||
    registerForm.controls.password.touched)) {
    <div class="alert alert-danger">
      @if (registerForm.controls.password.errors?.['required']) {
      <span>La contrasea es obligatoria</span>
      } @if (registerForm.controls.password.errors?.['pattern']) {
      <span
        >La contrasea debe tener mínimo 8 caracteres, al menos una mayúscula,
        una minuscula y un símbolo</span
      >
      }
    </div>
    }
  </div>

  <div class="form-group mb-3">
    <label for="repeatPassword" hidden aria-label="repetir contraseña"
      >Repetir contraseña</label
    >
    <input
      autocomplete="repeat-password"
      [formControl]="password"
      type="password"
      class="form-control"
      placeholder="Repetir Contraseña"
      name="repeatPassword"
      id="repeatPassword"
      required
    />
    @if (password.invalid && (password.dirty || password.touched)) {
    <div class="alert alert-danger">
      @if (password.errors?.['required']) {
      <span>La contrasea es obligatoria</span>
      } @if (password.errors?.['pattern']) {
      <span
        >La contrasea debe tener mínimo 8 caracteres, al menos una mayúscula,
        una minuscula y un símbolo</span
      >
      }
    </div>
    }
  </div>

  <!-- <app-boton-accesos class="mt-2 d-flex justify-content-center" texto="Continuar" (click)="register()" /> -->

  <div class="checkbox-wrapper">
    <input
      id="terms-checkbox-37"
      name="checkbox"
      type="checkbox"
      [formControl]="registerForm.controls.serviceTerms"
    />
    <label
      class="terms-label"
      for="terms-checkbox-37"
      (click)="toggleServiceTermsVisibility()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 200 200"
        class="checkbox-svg"
      >
        <mask fill="white" id="path-1-inside-1_476_5-37">
          <rect height="200" width="200"></rect>
        </mask>
        <rect
          mask="url(#path-1-inside-1_476_5-37)"
          stroke-width="40"
          class="checkbox-box"
          height="200"
          width="200"
        ></rect>
        <path
          stroke-width="15"
          d="M52 111.018L76.9867 136L149 64"
          class="checkbox-tick"
        ></path>
      </svg>
      <span class="label-text">
        <strong>
          Si aceptas, estás de acuerdo con los Términos del servicio y el Aviso
          de privacidad.
        </strong>
      </span>
    </label>
  </div>

  <div class="mt-2 d-flex justify-content-center">
    <button
      class="btn-xio"
      title="Enviar"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      <strong>Continuar</strong>
    </button>
  </div>
</form>

<app-modal [show]="termsModal">
  <app-service-terms class="modal-content" />
</app-modal>
