.app-layout {
  display: grid;
  // gap: 1rem;

  /* Columnas para aside y contenido central */
  // grid-template-columns: 1fr 5fr;
  grid-template-columns: 6fr;

  /* Filas para header, contenido y footer */
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "navbar navbar"
    "main main"
    // "sidebar main"
    "footer footer";

  /* Asegura que el diseño ocupe al menos toda la altura de la ventana */
  min-height: 100dvh;
  // transition-duration: 1s;
}

.app-header {
  grid-area: navbar;
  padding: 1rem;
}

.app-content {
  grid-area: main;
  // padding: 1rem;
}

.sidebar {
  grid-area: sidebar;
  padding: 1rem;
  transition: all 1s;
}

.app-footer {
  grid-area: footer;
  padding: 1rem;
}

.hidden {
  display: none;
}
