<form class="form form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-group mb-3">
    <label for="email" class="sr-only" hidden aria-label="email del usuario">{{
      formConfig.email.label
    }}</label>
    <input
      class="form-control"
      [autocomplete]="formConfig.email.autocomplete"
      [formControl]="loginForm.controls.email"
      [id]="formConfig.email.id"
      [name]="formConfig.email.name"
      [type]="formConfig.email.type"
      [placeholder]="formConfig.email.placeholder"
    />
  </div>

  <div class="form-group mb-3">
    <label
      [for]="formConfig.password.id"
      class="sr-only"
      hidden
      aria-label="contraseña"
      >{{ formConfig.password.label }}</label
    >
    <input
      class="form-control"
      [autocomplete]="formConfig.password.autocomplete"
      [formControl]="loginForm.controls.password"
      [id]="formConfig.password.id"
      [name]="formConfig.password.name"
      [type]="formConfig.password.type"
      [placeholder]="formConfig.password.placeholder"
    />
  </div>

  <div class="mt-2 d-flex justify-content-center">
    <button
      class="btn btn-success"
      title="Enviar"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Continuar
    </button>
  </div>
</form>

<a class="forgot-password" [routerLink]="['/auth', 'forgot-password']"
  >¿Te olvidaste de tu contraseña?</a
>

<section>
  <span id="span23">¿Aún no tienes cuenta?&nbsp;</span>
  <a href="#" [routerLink]="['/auth', 'register']">Registrate</a>
</section>

<hr />

<section class="social-account-container">
  <span class="title1">O inicia sesión con</span>
  <div class="social-accounts">
    <!-- <app-google-signin (idToken)="loginWithGoogle($event)" /> -->
    <!-- <app-facebook-signin /> -->
  </div>
</section>

<ng-template #toastContainer class="toast-wrapper" />
