<form class="form form-signin" (ngSubmit)="onSubmit()" [formGroup]="form">
  <legend>Introduce tu email y revisa tu bandeja de entrada</legend>
  <label class="form-group">
    <span class="sr-only" hidden aria-label="email">{{ config.label }}</span>
    <input
      class="form-control"
      [autocomplete]="config.autocomplete"
      [formControl]="form.controls.email"
      [type]="config.type"
      [name]="config.name"
      [id]="config.id"
      [placeholder]="config.placeholder"
    />
    <button
      class="mt-2 btn-xio"
      type="submit"
      title="Enviar"
      [disabled]="form.valid"
    >
      Enviar
    </button>
  </label>
</form>
