<form
  class="col-12 form form-signin"
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
>
  <label class="row mb-2 form-group">
    <span class="sr-only" hidden aria-label="email">{{
      config.email.label
    }}</span>
    <input
      class="form-control"
      [formControl]="form.controls.email"
      [type]="config.email.type"
      [name]="config.email.name"
      [id]="config.email.id"
      [placeholder]="config.email.placeholder"
    />
  </label>
  <label class="row mb-2 form-group">
    <span class="sr-only" hidden aria-label="contraseña antigua">{{
      config.oldPassword.label
    }}</span>
    <input
      class="form-control"
      [formControl]="form.controls.oldPassword"
      [type]="config.oldPassword.type"
      [name]="config.oldPassword.name"
      [id]="config.oldPassword.id"
      [placeholder]="config.oldPassword.placeholder"
    />
  </label>

  <hr />
  
  <label class="row mb-2 form-group">
    <span class="sr-only" hidden aria-label="nueva contraseña">{{
      config.newPassword.label
    }}</span>
    <input
      class="form-control"
      [formControl]="form.controls.newPassword"
      [type]="config.newPassword.type"
      [name]="config.newPassword.name"
      [id]="config.newPassword.id"
      [placeholder]="config.newPassword.placeholder"
    />
  </label>
  <button
    type="submit"
    class="btn btn-success"
    title="Enviar"
    [disabled]="form.invalid"
  >
    Enviar
  </button>
</form>