<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <label>
    <span>{{ config.email.label }}</span>
    <input
      [formControl]="form.controls.email"
      [type]="config.email.type"
      [name]="config.email.name"
      [id]="config.email.id"
      [placeholder]="config.email.placeholder"
    />
  </label>
  <label>
    <span>{{ config.oldPassword.label }}</span>
    <input
      [formControl]="form.controls.oldPassword"
      [type]="config.oldPassword.type"
      [name]="config.oldPassword.name"
      [id]="config.oldPassword.id"
      [placeholder]="config.oldPassword.placeholder"
    />
  </label>
  <label>
    <span>{{ config.newPassword.label }}</span>
    <input
      [formControl]="form.controls.newPassword"
      [type]="config.newPassword.type"
      [name]="config.newPassword.name"
      [id]="config.newPassword.id"
      [placeholder]="config.newPassword.placeholder"
    />
  </label>
  <button type="submit" [disabled]="form.valid">Enviar</button>
</form>
