.wrapper {
  padding: 0.1rem;
  scale: 0.7;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.navigation {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0.75;
  flex: 3;
}

.menu {
  scale: 0.75;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  align-content: center;
}

g {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 15px;

  & > path {
    stroke-linecap: "round";
  }
}

.user-avatar {
  // height: 100px;
  // width: 92px;
  // aspect-ratio: 1/1;
  // object-fit: scale-down;
  border-radius: 50%;
  // clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
