.wrapper {
  padding: 0.1rem;
  scale: 0.7;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.navigation {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0.75;
  flex: 3;
}

.menu {
  scale: 0.75;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: center;
  align-content: center;
}

g {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 15px;

  & > path {
    stroke-linecap: "round";
  }
}

// .dot {
//   inline-size: 1rem;
//   block-size: 1rem;
//   border-radius: 50%;
//   background-color: crimson;
//   offset: path("M895 876 c-27 -12 -56 -30 -64 -39 -7 -10 -25 -17 -40 -17 -19 0 -22 -3 -12 -9 11 -7 7 -18 -21 -53 -20 -23 -59 -84 -87 -134 l-52 -91 -75 -6 c-88 -6 -132 -28 -156 -77 -23 -45 -14 -51 21 -13 15 17 41 37 57 45 37 18 133 42 141 34 9 -8 -92 -185 -142 -248 -78 -98 -173 -146 -268 -135 -56 7 -60 1 -12 -19 53 -22 141 -18 201 10 91 42 155 122 234 290 43 93 62 116 91 116 5 0 9 -7 9 -15 0 -11 8 -9 35 8 19 12 34 28 35 35 0 15 -9 15 -40 -3 -14 -8 -35 -14 -48 -15 -20 0 -22 4 -16 23 12 40 71 151 104 196 l32 43 56 -6 c38 -4 50 -3 37 3 -11 5 -30 10 -42 10 -60 2 1 48 96 73 l66 17 -45 0 c-27 1 -65 -8 -95 -23z");

//   animation: move 10s both infinite normal;
// }

// @keyframes move {
//   to {
//     offset-distance: 100%;
//   }
// }