<h1><strong>Política de Privacidad de Factivar</strong></h1>
<br>
<hr />
<br>
<h2>Última modificación: 09 de febrero de 2024</h2>
<br>

<p>
  En la <strong>Política de Privacidad de Factivar</strong>, se describe la forma en que manejamos la información personal
  cuando usted usa los productos y servicios de Factivar. Factivar se ofrece solo a los titulares de <strong>Cuentas de
    Factivar</strong> y
  el uso que se le dé se encuentra sujeto a la Política de Privacidad de <strong>Factivar</strong>. Además, en este Aviso
  se describen las prácticas de privacidad
  específicas de Factivar. El uso que haga de Factivar está regido por las <strong>Condiciones del Servicio de
    Factivar</strong>, que describen en detalle los Servicios que abarca este Aviso de
  Privacidad. El significado de los términos en mayúsculas que no se definen en el Aviso de Privacidad de Factivar se
  describe en las Condiciones del Servicio
  de Factivar.
</p>

<br>

<p><strong>El Aviso de Privacidad de Factivar</strong> se aplica a los Servicios que ofrece Factivar SL o las
  subsidiarias que son propiedad de Factivar SL en su
  totalidad, como <strong>Factivar Payment Corp.</strong> (en adelante, “FPC”). Consulte las Condiciones del Servicio de
  Factivar que se encuentran disponibles en el
  Servicio para obtener más información acerca de las filiales que lo ofrecen. Para los usuarios que se encuentran en el
  Espacio Económico Europeo (salvo los
que realicen ventas en un mercado de <strong>Factivar</strong>), excepto en el Reino Unido, el
responsable del tratamiento de datos encargado de su información es Factivar
Ireland Limited. Para los usuarios que se encuentran en el Reino Unido (salvo
los que realicen ventas en un mercado de Factivar), el responsable del
tratamiento de datos encargado de su información es <strong>Factivar SL</strong>. Si usted se
encuentra en el Espacio Económico Europeo (excepto en el Reino Unido) y realiza
ventas en un mercado de Factivar, el responsable del tratamiento de datos
encargado de su información es Factivar Payment Ireland Limited. Si usted se
encuentra en el Reino Unido y realiza ventas en un mercado de <strong>Factivar</strong>, el
responsable del tratamiento de datos encargado de su información es Factivar
Payment Limited.</p>
<br><br>

<h2><strong>Información que recopilamos</strong></h2>
<br>

<h2>
  Además de la información que aparece en la Política de Privacidad de Factivar,
  recopilaremos los siguientes datos:
</h2>

<br>
<p><strong>Información de registro:</strong> Cuando se registra en Factivar, usted
crea una Cuenta de Factivar que se asocia con su Cuenta de Factivar. En función
de los servicios de Factivar que use, es posible que se le solicite la siguiente
información, además de aquella que se indica en la <strong>Política de Privacidad de
  Factivar</strong>: número de tarjeta de débito o crédito y fecha de vencimiento
correspondiente, número de cuenta bancaria y fecha de vencimiento
correspondiente, dirección, número de teléfono, fecha de nacimiento y número de
seguro nacional o número de identificación del contribuyente (o algún otro
número de identificación emitido por el Gobierno). En el caso específico de los
vendedores o las empresas, le solicitaremos su categoría de empresa, así como
cierta información sobre sus ventas o volumen de transacciones. En algunos
casos, es posible que también le pidamos que brinde información adicional o
responda preguntas complementarias para poder verificar sus datos. Por último,
si registra una Cuenta de Facturación de Operador o una Cuenta de Facturación de
Proveedor, le pediremos que nos proporcione cierta información sobre la cuenta.</p>

<br>

<p><br><strong>Información obtenida de terceros:</strong> Es posible que obtengamos
información sobre usted proveniente de terceros, incluidos los servicios de
verificación externos. Esto incluye la información derivada de las transacciones
de Factivar realizadas en comercios, información emitida por terceros vinculados
con Factivar y relacionada con el uso que haga de sus cuentas y formas de pago,
la identidad de la entidad emisora de su tarjeta o institución financiera,
información relacionada con el acceso al saldo disponible en su Cuenta de
Factivar, información que proporcione un Operador o Proveedor en relación con la
facturación de este, además de informes de consumidores (se entiende por
“informes de consumidores” la definición que aparece en la Ley de Informe
Imparcial de Crédito de EE.UU.). Además, en el caso de los vendedores, es
posible que obtengamos información sobre usted y su empresa de agencias de
informes crediticios o de servicios de información empresarial.</p>
<br>
<br>
<p><strong>Información de la transacción:</strong> Cuando use Factivar para
realizar una transacción, es posible que recopilemos información sobre esta,
como la fecha, la hora y el importe de la transacción, la ubicación y
descripción del comercio, una descripción proporcionada por el vendedor de los
bienes o servicios comprados, cualquier fotografía que usted decida asociar con
la transacción, los nombres y las direcciones de correo electrónico del vendedor
y el comprador (o remitente y destinatario), el tipo de forma de pago que usó,
su descripción del motivo de la transacción y la oferta asociada con la
transacción, si corresponde.</p>
<br>
<br>
<h2><strong>Cómo usamos la información que recopilamos</strong></h2>
<br>

<p>Además de los usos que se mencionan en la Política de <strong>Privacidad de Factivar</strong>, utilizamos la
  información que usted nos proporciona a nosotros y a FPC, o a otra
  de nuestras filiales, así como la información sobre usted que obtenemos de terceros, con el fin de brindarle el
  servicio de atención al cliente de
  Factivar; proteger los derechos, la propiedad o la seguridad de Factivar, nuestros usuarios o el público, y evitar los
  fraudes, la suplantación de
  identidad (phishing) o cualquier otra actividad ilícita. Esta información también puede usarse para ayudar a terceros
  en el suministro de productos o
  servicios que usted les solicite. También utilizamos la información para revisar su <strong>Cuenta de
    Factivar</strong>, a fin de determinar si sigue cumpliendo con las
  condiciones de la cuenta, tomar decisiones sobre sus transacciones futuras con <strong>Factivar</strong> y para otras
  necesidades comerciales legítimas relacionadas con las
  transacciones de <strong>Factivar</strong> que usted inicie. Su información de registro se almacena junto con la
  información de su <strong>Cuenta de Factivar</strong>, y el registro de las
  formas de pago se almacenará en los servidores de <strong>Factivar</strong>. Además, es posible que algunos fragmentos
  de datos también se almacenen en su dispositivo móvil. Es
  posible que almacenemos por mucho tiempo la información que proporcione a fin de cumplir con el proceso legal y las
  obligaciones regulatorias.</p>

<br>
<h2><strong>Información que compartimos</strong></h2>
<br>
<p>Solo compartiremos su información personal con otras empresas o particulares ajenos a <strong>Factivar</strong> en
  las siguientes
  circunstancias:</p>
<p> De conformidad con lo que se permite en la <strong>Política de Privacidad de Factivar</strong>. Según se considere
  necesario a fin de procesar sus transacciones y efectuar el mantenimiento de su cuenta, como proporcionar mejoras de
  seguridad y proteger
  la contra los fraudes A fin de completar su registro en un servicio proporcionado por un tercero Para informarle a un
  comercio externo cuyo sitio o aplicación haya visitado si usted tiene una Cuenta de <strong>Factivar</strong> que
  pueda usarse para efectuar un pago a ese comercio Con la entidad emisora y la red de pagos de su tarjeta o forma de
  pago de otro tipo,
  así como con los procesadores de pagos y otras organizaciones que trabajan en su nombre a fin de garantizar la
  seguridad y validez de la forma de pago y las transacciones solicitadas con ella. Por ejemplo, cuando realiza una
  compra o una transacción mediante Factivar, ponemos parte de su información personal a disposición de la empresa o la
  persona a la que usted realizó la compra o
  con la que efectuó la transacción. Lo anterior incluye compartir su información personal con el desarrollador al que
  le
  efectúa una compra cuando usa <strong>Factivar</strong> para comprar en la plataforma
  de <strong>Factivar</strong>.</p>
<br>
<p>Esto también puede incluir enviarle al sitio web o la aplicación del comercio su código postal y la información sobre
  la forma de pago cuando realice un pago con el botón <strong>“Comprar con Factivar Pay”</strong> o uno similar para
  que el comercio pueda calcular la información actualizada de la compra (como información fiscal, costos de entrega y
  otra información
  de precios), así como identificar si puede aceptar la forma de pago elegida y los beneficios o las restricciones de
  esa forma de pago específica para su compra.
  Cuando agregue una forma de pago de terceros a su <strong>Cuenta de Factivar</strong>, es posible que intercambiemos
  cierta información personal con el
  proveedor de pagos a fin de brindar el servicio.</p>
<br>

<p>Esta información puede incluir su nombre, imagen de perfil, correo electrónico, dirección IP y de facturación, número
  de teléfono, información del dispositivo, ubicación y actividad de la <strong>Cuenta de Factivar</strong>, entre otros
  datos. Cuando visite la aplicación o el sitio de un comercio asociado, este podrá revisar si usted
  tiene una <strong>Cuenta de Factivar</strong> con una forma de pago apta que pueda usarse para realizar compras
  mediante el sitio o la aplicación del comercio. Esto se hace con el fin de disminuir la probabilidad de que vea
  funciones que no podrá
  utilizar en las aplicaciones o los sitios.
  Este <strong>Aviso de Privacidad</strong> no abarca ningún tipo de información que usted proporcione directamente a un
  comercio, sitio
  web o aplicación externos. No somos responsables de las prácticas de privacidad o seguridad de los comercios ni de los
  terceros con los que decida
  compartir su información personal de forma directa. </p>
<br>
<p>Le recomendamos revisar las políticas de privacidad de cualquier tercero con el que decida compartir su
  información personal de forma directa. La información que recopilamos, incluida aquella que se obtiene de terceros, se
  comparte con nuestros afiliados (es decir, otras empresas bajo el control y la propiedad de <strong>Factivar
    SL</strong>). Nuestros
  afiliados, que pueden ser entidades financieras o no financieras, usarán esta
  información para sus propósitos comerciales cotidianos. Le brindamos el derecho a rechazar el uso compartido de cierta
  información entre FPC y sus afiliados.</p>
  <p>Específicamente, puede rechazar lo siguiente: El uso compartido de la información sobre su solvencia con FPC y sus
    afiliados para el desarrollo de actividades comerciales diarias Las comunicaciones de marketing sobre productos o
    servicios que le envían nuestros
    afiliados, con base en la información personal que recopilamos y compartimos con ellos. Esta información incluye el
    historial de la cuenta que conserva con
    nosotros También puede rechazar que <strong>Factivar SL</strong> o sus afiliados le proporcionen información a un
    comercio externo (cuya aplicación o sitio haya visitado)
    relacionada con su titularidad de una Cuenta de <strong>Factivar</strong> que pueda usarse para emitir pagos mediante
    el sitio o la aplicación de ese comercio.</p>
  <br>
  <p>Si decide rechazar estos usos compartidos de la información, su decisión seguirá vigente hasta que nos solicite que
    cambiemos
    sus preferencias. Si no desea que compartamos información personal sobre su solvencia crediticia entre FPC y sus
    afiliados, que nuestros afiliados usen la
    información personal que recopilamos sobre usted y que compartimos con ellos para enviarle comunicaciones de marketing
    ni que <strong>Factivar SL</strong> o sus afiliados le
    informen a un comercio externo (cuyo sitio o aplicación haya visitado) sobre su titularidad de una <strong>Cuenta de
      Factivar Payments</strong>, acceda a su cuenta y diríjase a
    la página de configuración de privacidad de <strong>Factivar Payments</strong> para actualizar sus preferencias. No
    compartiremos su información personal con ninguna persona
    ajena a FPC ni con nuestros afiliados, excepto de la forma que se describe en este Aviso de Privacidad o en la
    Política de Privacidad de Factivar. Tal como se
    explica arriba, <strong>Factivar Payments</strong> es un producto que se ofrece a los titulares de <strong>Cuentas de
      Factivar</strong>.</p>
  <br>
  <p>Los datos que proporcione a <strong>Factivar SL</strong> con el fin de registrarse para obtener una <strong>Cuenta de
      Factivar</strong> no se verán afectados por las
    disposiciones de inhabilitación mencionadas en este Aviso de Privacidad. Seguridad de la información Para obtener más
    información sobre nuestras
    prácticas de seguridad, consulte la Política de Privacidad de Factivar principal. La seguridad de su Cuenta de
    <strong>Factivar Payments</strong> depende de que usted
    mantenga la confidencialidad de las contraseñas de su cuenta, sus PIN y cualquier otro tipo de información de acceso
    al Servicio. Si comparte la información de su cuenta con un tercero, esta persona podrá acceder a ella y a su
    información personal. Es su
    responsabilidad controlar el acceso a su dispositivo móvil y a la aplicación de <strong>Factivar Payments</strong> en
    este, lo que incluye mantener la
    confidencialidad de sus contraseñas o su PIN, y no compartir tal
    información con ninguna persona. También es su responsabilidad notificarle a <strong>Factivar</strong> o al socio
    pertinente si considera que la seguridad de la información
    que se encuentra en la aplicación de <strong>Factivar Payments</strong> corre algún tipo de peligro.
  </p>
  <br>
  <p> <strong>© 2024 Factivar - Página principal de Factivar Condiciones del Servicio
      de Factivar Versiones anteriores del Aviso de Privacidad. </strong></p>
