@keyframes view-transition {
  to {
    filter: grayscale() /* blur(1px)  */ /* invert() */ /* hue-rotate(1turn) */;
    opacity: 0.25;
  }
}

/* @keyframes view-transition {
  to {
    opacity: 0;
    scale: 0.75;
  }
} */
