button {
    border: none;
    background-color: transparent;
    border-radius: 2rem;
}

.update-btn {
    color: #bc8c12da;
}

.delete-btn {
    color: #bf333bda;
}

.reject {
    filter: invert(1);
}

.patata {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: center;
}